<h1>View all users</h1>
<p>Currently logged in as user: <%= current_user.fullname %></p>

<%= will_paginate @users %>

<table>
<% @users.each do |user| %>
  <tr>
    <td><%= user.fullname %></td>
      <% if current_user.friends.include?(user) %>
        <td>This is a friend</td>
      <% else %>
        <td>This is not a friend</td>
      <% end %>
  </tr>
<% end %>
</table>


<%= link_to 'Back to home', root_url %>
